*{
    padding: 0;
    margin: 0;
}

header{
    background-color: rgb(53, 52, 51);
    text-align: center;
    padding: 20px;
    color: white;
}


nav{
    background-color: rgb(53, 52, 51);
    padding-bottom: 20px;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;

}

nav ul li {
    flex: 1;
    text-align: center;
    
}
nav ul li a{
    display: block;
    color: white;
    text-decoration: none;
    padding: 15px 0;
    transition: background-color 0.2s;
    font-size: 20px;
    background-color: black;
    border-radius: 10px;
    margin: 10px;
    
}

nav ul li a:hover{
    background-color: aqua;
}

section{
    width: 90%;
    margin: 20px auto;
    padding: 15px;
    background-color:rgb(53, 52, 51) ;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(0, 0, 0.1);

}

section h2{
    color: aliceblue;
}

label{
    display: block;
    margin: 10px 0 5px;
    color: azure;
}

input, select{
    width: 500px;
    padding: 10px 0 10px;
    margin-bottom: 15px;
    border: 1px solid wheat;
    
}

input[type="submit"]:hover {
    background-color: aqua;
}

footer{
    background-color: rgb(53, 52, 51);
    padding: 10px 0;
    text-align: center;


}


footer a{
    text-decoration: none;
    color: white;
    margin-top: 60px;
}